<form>
  <div class="text-center">
    <span>{{calendarDate ? calendarDate.date.toLocaleDateString() : 'Datum auswählen'}}</span>
  </div>
  <tt-working-hours [workingHours]="calendarDate ? ( calendarDate.workInformation ? calendarDate.workInformation.workingHours : null ) : null"></tt-working-hours>
  <div>
    <textarea class="textarea" rows="2"></textarea>
  </div>
  <div class="text-center">
    <button class="btn">Speichern</button>
  </div>
</form>

<!--
Tasklist
i18n
checkbox component?
-->
