{{date ? date.toLocaleDateString() : 'Select da date!'}}

<!-- use form! -->
<button class="btn" (click)="onModeToggle()">{{mode.label}}</button>
<div *ngIf="mode.id === 'time'">
  Start: <input type="text" />
  Ende: <input type="text" />
  Pause: <input type="text" />
</div>
<div *ngIf="mode.id === 'duration'">
  Dauer: <input type="text" />
</div>
<textarea>comment</textarea>
Arbeitstag? <input type="checkbox" />
<button class="btn">Save</button>
<!--
Tasklist
WorkingHours
-->

onToggle
initLabel
switchLabel
