<form *ngIf="bufferWorkDateInformation">
  <div class="text-center">
    <span>{{bufferWorkDateInformation.date.toLocaleDateString()}}</span>
  </div>
  <tt-working-hours [workingHours]="bufferWorkDateInformation.workInformation.workingHours"></tt-working-hours>
  <div>
    <textarea class="textarea" rows="2"></textarea>
  </div>
  <div class="text-center">
    <button class="btn">Speichern</button>
  </div>
</form>
<div *ngIf="!bufferWorkDateInformation" class="text-center">
  <span>Datum auswählen</span>
</div>
<!--
Tasklist
i18n
checkbox component?
-->
